body {
    overflow-x: hidden;
}

summary {
    cursor: pointer;
    font-weight: 600;
}

summary::-webkit-details-marker {
    display: none;
}

.max-lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
  }


.max-lines-card{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.tab-btn {
    color: #7a5f3b; /* muted gold text */
    background: transparent;
}

/* Hover effect */
.tab-btn:hover {
    color: #c39e6d;
    background-color: rgba(195, 158, 109, 0.1);
}

/* Active tab */
.tab-btn.active {
    color: #c39e6d;
    background-color: #fff;
    border-radius: 0.75rem; /* Tailwind rounded-lg */
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.max-lines-dest{
     display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}